.center img {
    display: block;
    margin: 0 auto;
  }

  .map img {
    position: absolute;
    width: 100%;
  }


.image-container {
  display: flex; /* Use flexbox to arrange images horizontally */
}

.image-container img {
  width: 48%; /* Set each image to take up 48% of the container width */
  margin-right: 2%; /* Add a 2% margin to the right of each image */
  height: auto; /* Maintain the aspect ratio of the images */
}

.image-container img:last-child {
  margin-right: 0; /* Remove the margin for the last image to prevent extra spacing */
}

figure {
  display:inline-block;
  text-align: center;
  margin: 30px;
}

figcaption {
  font-style: italic;
  font-size: 14px;
  color: #555;
  margin: 20px;
}
